[submodule "refs/jacklance-puzzlescript"]
	path = refs/jacklance-puzzlescript
	url = https://github.com/JackLance/PuzzleScript
[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/raygui"]
	path = deps/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "deps/entt"]
	path = deps/entt
	url = https://github.com/skypjack/entt.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/magic-enum"]
	path = deps/magic-enum
	url = https://github.com/Neargye/magic_enum.git
